/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 320px) {
    .info {
        background: url("../images/bg-info1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text-total-prize {
        font-size: 52px;
    }

    .wrap-pulse {
        @keyframes pulse-ampau {
            0% {
                transform: scale(0);
                opacity: 0;
            }

            33% {
                transform: scale(1);
                opacity: 1;
            }

            100% {
                transform: scale(3);
                opacity: 0;
            }
        }

        transition: background 0.3s,
        transform 0.3s,
        box-shadow 0.3s;
        will-change: transform;

        .pulse {
            position: relative;
            overflow: visible !important;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(#fb1e44, 0.1);
                // background: rgba(251, 30, 68, 0.3);
                border-radius: 50%;
                width: 100px;
                height: 100px;
                opacity: 0;
                margin: auto;
            }

            &:before {
                animation: pulse-ampau 6.5s infinite linear;
            }

            &:after {
                animation: pulse-ampau 2s 0.4s infinite linear;
            }

            &:hover:before,
            &:hover:after {
                display: none;
            }
        }
    }

    .hero {
        min-height: 100vh;
        background-image: url("../images/hero.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: 321px) and (max-width: 399.98px) {
    .info {
        // background: url("../images/bg-info1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .text-total-prize {
        font-size: 52px;
    }

    .wrap-pulse {
        @keyframes pulse-ampau {
            0% {
                transform: scale(0);
                opacity: 0;
            }

            33% {
                transform: scale(1);
                opacity: 1;
            }

            100% {
                transform: scale(3);
                opacity: 0;
            }
        }

        transition: background 0.3s,
        transform 0.3s,
        box-shadow 0.3s;
        will-change: transform;

        .pulse {
            position: relative;
            overflow: visible !important;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(#fb1e44, 0.1);
                // background: rgba(251, 30, 68, 0.3);
                border-radius: 50%;
                width: 100px;
                height: 100px;
                opacity: 0;
                margin: auto;
            }

            &:before {
                animation: pulse-ampau 6.5s infinite linear;
            }

            &:after {
                animation: pulse-ampau 2s 0.4s infinite linear;
            }

            &:hover:before,
            &:hover:after {
                display: none;
            }
        }
    }

    .mobile-center {
        text-align: center !important;
    }

    .hero {
        min-height: 100vh;
        background-image: url("../images/hero.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .count-wrap {
        li {
            display: inline-block;
            font-size: 0.8em;
            list-style-type: none;
            // padding: 1em;
            // padding-left: 0%;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;

            span {
                display: block;
                font-size: 3rem;
            }
        }
    }

    .card-img-overlay-minleft-20 {
        position: relative;
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%);
    }

    .card-img-overlay-left {
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .card-focus {
        &::after {
            content: '';
            width: 20%;
            // height: 20px;
            border: 8px solid #AC1F40;
            position: absolute;
            right: 0px;
            bottom: 0%;
        }

        &::before {
            content: '';
            width: 20%;
            // height: 20px;
            border: 8px solid #AC1F40;
            position: absolute;
            right: 0px;
            top: 0%;
        }
    }

    .img-hero {
        height: 600px;
        object-fit: cover;
        object-position: -320px;
    }
}

@media (min-width: 400px) and (max-width: 575.98px) {
    .text-total-prize {
        font-size: 52px;
    }

    .wrap-pulse {
        @keyframes pulse-ampau {
            0% {
                transform: scale(0);
                opacity: 0;
            }

            33% {
                transform: scale(1);
                opacity: 1;
            }

            100% {
                transform: scale(3);
                opacity: 0;
            }
        }

        transition: background 0.3s,
        transform 0.3s,
        box-shadow 0.3s;
        will-change: transform;

        .pulse {
            position: relative;
            overflow: hidden;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(#fb1e44, 0.1);
                // background: rgba(251, 30, 68, 0.3);
                border-radius: 50%;
                width: 5px;
                height: 5px;
                opacity: 0;
                margin: auto;
            }

            &:before {
                animation: pulse-ampau 6.5s infinite linear;
            }

            &:after {
                animation: pulse-ampau 2s 0.4s infinite linear;
            }

            &:hover:before,
            &:hover:after {
                display: none;
            }
        }
    }

    .mobile-center {
        text-align: center !important;
    }

    .info {
        background: url("../images/bg-info1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero {
        min-height: 100vh;
        background-image: url("../images/hero.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .count-wrap {
        li {
            display: inline-block;
            font-size: 0.8em;
            list-style-type: none;
            // padding: 1em;
            // padding-left: 0%;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;

            span {
                display: block;
                font-size: 3rem;
            }
        }
    }

    .card-img-overlay-minleft-20 {
        position: relative;
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%);
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .wrap-pulse {
        @keyframes pulse-ampau {
            0% {
                transform: scale(0);
                opacity: 0;
            }

            33% {
                transform: scale(1);
                opacity: 1;
            }

            100% {
                transform: scale(3);
                opacity: 0;
            }
        }

        transition: background 0.3s,
        transform 0.3s,
        box-shadow 0.3s;
        will-change: transform;

        .pulse {
            position: relative;
            overflow: hidden;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(#fb1e44, 0.1);
                // background: rgba(251, 30, 68, 0.3);
                border-radius: 50%;
                width: 5px;
                height: 5px;
                opacity: 0;
                margin: auto;
            }

            &:before {
                animation: pulse-ampau 6.5s infinite linear;
            }

            &:after {
                animation: pulse-ampau 2s 0.4s infinite linear;
            }

            &:hover:before,
            &:hover:after {
                display: none;
            }
        }
    }

    .info {
        background: url("../images/bg-info1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero {
        min-height: 100vh;
        background-image: url("../images/hero.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .text-total-prize {
        font-size: 52px;
    }

    .count-wrap {
        li {
            display: inline-block;
            font-size: 0.8em;
            list-style-type: none;
            // padding: 1em;
            // padding-left: 0%;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;

            span {
                display: block;
                font-size: 3rem;
            }
        }
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .wrap-pulse {
        @keyframes pulse-ampau {
            0% {
                transform: scale(0);
                opacity: 0;
            }

            33% {
                transform: scale(1);
                opacity: 1;
            }

            100% {
                transform: scale(3);
                opacity: 0;
            }
        }

        transition: background 0.3s,
        transform 0.3s,
        box-shadow 0.3s;
        will-change: transform;

        .pulse {
            position: relative;
            overflow: hidden;

            &:before,
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(#fb1e44, 0.1);
                // background: rgba(251, 30, 68, 0.3);
                border-radius: 50%;
                width: 5px;
                height: 5px;
                opacity: 0;
                margin: auto;
            }

            &:before {
                animation: pulse-ampau 6.5s infinite linear;
            }

            &:after {
                animation: pulse-ampau 2s 0.4s infinite linear;
            }

            &:hover:before,
            &:hover:after {
                display: none;
            }
        }
    }

    .info {
        background: url("../images/bg-info1.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero {
        min-height: 100vh;
        background-image: url("../images/hero.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .text-total-prize {
        font-size: 52px;
    }

    .count-wrap {
        li {
            display: inline-block;
            font-size: 0.8em;
            list-style-type: none;
            // padding: 1em;
            // padding-left: 0%;
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;

            span {
                display: block;
                font-size: 3rem;
            }
        }
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .info {
        background: url("../images/bg-info.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
}

@media (min-width: 1400px) {
    .info {
        background: url("../images/bg-info.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
    }
}
