.sectionSpacing {
  padding: 8vh 0;
}

/* ============================ Address Section ============================ */
.card-glass {
  box-shadow: 0px 0px 20px 1px rgba(40, 255, 240, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.5);
  /* border-left: 1px solid rgba(255, 255, 255, 0.5); */
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.card-community {
  border-radius: 10px;
}

.card-community:hover {
  box-shadow: 0px 0px 20px 1px rgba(172, 31, 64, 0.75);
}

.location {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.located {
  max-width: 700px;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.address-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-title h3 {
  color: #fff;
  font-size: 1.15rem;
}

.address-details {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.address-details p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
  color: #fff;
}

.located.active .address-details {
  max-height: 300px;
}

.located.active i {
  transform: rotate(180deg);
}

i {
  transition: transform 0.5s ease-in;
}

/* ============================ Section Base Color ============================ */
#roadmap,
#community,
#charity,
#address {
  background-color: rgb(248, 249, 251);
}

/* ============================ Wave Styling ============================ */
.wave {
  display: block;
  bottom: -1px;
  left: 0px;
  right: 0px;
  width: 100%;
  background-color: transparent;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}

.waveLine {
  stroke: rgb(229, 233, 240);
  fill: none;
  transition: fill 400ms ease-in-out 0s;
}

.waveLineRed {
  stroke: rgb(172, 31, 64);
  fill: none;
  transition: fill 400ms ease-in-out 0s;
}

.waveMission,
.waveTrusted {
  fill: rgb(248, 249, 251);
  transition: fill 400ms ease-in-out 0s;
}

.waveCommunity {
  fill: rgb(255, 255, 255);
  transition: fill 400ms ease-in-out 0s;
}

/* .waveFooter1 {
  transition: fill 400ms ease-in-out 0s;
  fill: rgb(244, 246, 249);
}

.waveFooter2 {
  transition: fill 400ms ease-in-out 0s;
  fill: rgb(247, 249, 251);
}

.waveFooter3 {
  transition: fill 400ms ease-in-out 0s;
  fill: rgb(251, 251, 252);
} */

/* ============================ Responsive Screen ============================ */
@media screen and (max-width: 320px) {
  .card-img-overlay-left {
    left: 0;
    top: 350px;
  }

  .font-56 {
    font-size: 2rem !important;
    text-align: center;
  }

  #hero h5 {
    text-align: center;
    font-size: 1rem;
  }

  #story {
    margin-top: 340px;
  }

  #story p {
    font-size: 0.9rem;
    font-weight: 400;
  }

  #mission h1 {
    font-size: 2rem;
  }

  #mission h5 {
    font-size: 1.25rem;
  }

  #mission p {
    text-align: center;
    font-size: 1rem;
  }

  #mission h1,
  h5 {
    text-align: center;
    margin-top: 10px;
  }

  .box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
  }

  .box1,
  .box2 {
    width: auto;
    height: auto;
    position: relative;
  }

  /* #community {
    margin-bottom: 20px;
  } */

  #trusted .card-img-custom {
    height: 500px;
  }

  .handShake {
    display: none;
  }

  .giftCoin {
    display: none;
  }

  #charity {
    margin-top: 220px;
  }

  #charity h1 {
    margin-top: 25px;
  }

  .card-img-overlay-minleft-20 {
    left: 0;
  }

  .border-right-red20 {
    border-right: 15px solid #ac1f40;
  }

  .card-focus::before {
    width: 100%;
  }

  .card-focus::after {
    width: 40%;
    position: absolute;
  }

  .charityDonation {
    display: none;
  }

  #address {
    margin-top: 290px;
  }

  .address-title h3 {
    font-size: 1rem;
  }

  .address-details p {
    font-size: 0.8rem;
  }

  .mapIcon {
    display: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 399.98px) {
  .card-img-overlay-left {
    left: 0;
    top: 350px;
  }

  .font-56 {
    font-size: 40px !important;
    text-align: center;
  }

  #hero h5 {
    text-align: center;
  }

  #story {
    margin-top: -70px;
  }

  /* #story h1,
  h3 {
    text-align: center;
  } */

  #mission h1,
  h5 {
    text-align: center;
    margin-top: 10px;
  }

  #mission p {
    text-align: center;
  }

  .box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
  }

  .box1,
  .box2 {
    width: auto;
    height: auto;
    position: relative;
  }

  #trusted .card-img-custom {
    height: 500px;
  }

  .handShake {
    display: none;
  }

  .giftCoin {
    display: none;
  }

  #charity h1 {
    margin-top: 25px;
  }

  .card-img-overlay-minleft-20 {
    left: 0;
  }

  .border-right-red20 {
    border-right: 15px solid #ac1f40;
  }

  #charity .card-focus::before {
    width: 100%;
  }

  #charity .card-focus::after {
    width: 40%;
    position: absolute;
  }

  .charityDonation {
    width: 60px;
    top: 21px;
    left: 81%;
  }

  .address-title h3 {
    font-size: 1rem;
  }

  .address-details p {
    font-size: 0.8rem;
  }

  .mapIcon {
    display: none;
  }
}

@media screen and (min-width: 400px) and (max-width: 575.98px) {
  .card-img-overlay-left {
    left: 0;
    top: 420px;
  }

  .font-56 {
    font-size: 2.5rem !important;
    text-align: center;
  }

  #hero h5 {
    text-align: center;
  }

  #story {
    margin-top: 322px;
  }

  #story h3 {
    font-size: 2.25rem;
  }

  #story p {
    font-size: 1rem;
  }

  /* #story h1,
  h3 {
    text-align: center;
  } */

  #story img {
    height: 115px;
  }

  #mission h5 {
    font-size: 1.5rem;
  }

  #mission p {
    text-align: center;
    font-size: 1.25rem;
  }

  #mission h1,
  h5 {
    text-align: center;
    margin-top: 10px;
  }

  .box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 80%;
  }

  .box1,
  .box2 {
    width: 70%;
    height: auto;
    position: relative;
  }

  #trusted .card-img-custom {
    height: 500px;
  }

  .handShake {
    display: none;
  }

  .giftCoin {
    display: none;
  }

  #charity h1 {
    margin-top: 25px;
  }

  .card-img-overlay-minleft-20 {
    left: 0;
  }

  .border-right-red20 {
    border-right: 15px solid #ac1f40;
  }

  #charity .card-focus::before {
    width: 100%;
  }

  #charity .card-focus::after {
    width: 50%;
    position: absolute;
  }

  .charityDonation {
    width: 70px;
    top: 15px;
    left: 84%;
  }

  .mapIcon {
    display: none;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  .card-img-overlay-left {
    left: 2%;
    top: 175px;
  }

  .font-56 {
    font-size: 1.35rem !important;
  }

  #hero h5 {
    font-size: 0.8rem;
    margin-top: -5px;
  }

  #hero .line-height-30 {
    line-height: 23px !important;
  }

  #story {
    margin-top: -70px;
  }

  #story p {
    font-size: 0.85rem;
  }

  #story img {
    height: 115px;
  }

  .box1,
  .box2 {
    width: 200px;
    height: 200px;
    position: relative;
  }

  #trusted .card-img-custom {
    width: auto;
    height: 480px;
  }

  .handShake {
    display: none;
  }

  .giftCoin {
    display: none;
  }

  #charity {
    margin-top: 315px;
  }

  #charity .img-modal {
    width: 75%;
    height: 330px;
  }

  #charity .card-img-overlay-minleft-20 {
    left: 2%;
    top: -165px;
  }

  #charity h1 {
    margin-top: 20px;
  }

  .border-right-red20 {
    border-right: 16px solid #ac1f40;
  }

  .card-focus::before {
    content: "";
    width: 50%;
  }

  .card-focus::after {
    width: 50%;
  }

  .charityDonation {
    width: 80px;
    top: -215%;
    left: 90%;
  }

  .mapIcon {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  .card-img-overlay-left {
    left: 2%;
    top: 220px;
  }

  .font-56 {
    font-size: 2rem !important;
  }

  #hero h5 {
    font-size: 1rem;
  }

  #story {
    margin-top: -70px;
  }

  #story p {
    font-size: 15px;
  }

  #story img {
    height: 115px;
  }

  .img-mission {
    width: 300px;
    height: 300px;
  }

  .box {
    width: auto;
    gap: 20px;
  }

  .box1,
  .box2 {
    width: 200px;
    height: 200px;
    font-size: 0.5rem;
    position: relative;
  }

  #trusted .card-img-custom {
    width: auto;
    height: 400px;
  }

  .handShake {
    width: 120px;
    top: 0px;
    left: 20%;
  }

  .giftCoin {
    width: 85px;
    top: 3%;
    left: 90%;
  }

  #charity .img-modal {
    width: 55%;
    height: 330px;
  }

  #charity .card-img-overlay-minleft-20 {
    left: 40%;
    top: -165px;
  }

  #charity h1 {
    margin-top: 33px;
  }

  .border-right-red20 {
    border-right: 16px solid #ac1f40;
  }

  .card-focus::before {
    width: 50%;
  }

  .card-focus::after {
    width: 50%;
  }

  .charityDonation {
    width: 80px;
    top: 15px;
    left: 92%;
  }

  .mapIcon {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
  .card-img-overlay-left {
    left: 10%;
    top: 58%;
  }

  .font-56 {
    font-size: 56px !important;
  }

  #story img {
    height: 115px;
  }

  .box {
    gap: 20px;
  }

  .box1,
  .box2 {
    width: 170px;
    height: 170px;
    font-size: 0.5rem;
    position: relative;
  }

  .card-img-custom {
    width: auto;
    height: 400px;
  }

  .handShake {
    width: 120px;
    top: -16px;
    left: 20%;
  }

  .giftCoin {
    width: 85px;
    top: 5px;
    left: 92%;
  }

  #charity h1 {
    margin: 10px 0;
  }

  .img-modal {
    height: 400px;
  }

  .card-img-overlay-minleft-20 {
    left: -40%;
  }

  .card-focus::before {
    width: 50%;
  }

  .card-focus::after {
    width: 50%;
  }

  .charityDonation {
    width: 90px;
    top: -10px;
    left: 85%;
  }

  .mapIcon {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  #story img {
    height: 115px;
  }

  .box {
    gap: 20px;
  }

  .giftCoin {
    width: 100px;
    top: 0;
    left: 92%;
  }

  #charity h1 {
    font-size: 3.25rem;
  }

  #charity p {
    font-size: 1.5rem;
  }

  .img-modal {
    width: 100%;
    height: 500px;
  }

  .btn-charity {
    height: 60px;
    width: 250px;
  }

  .card-img-overlay-minleft-20 {
    position: absolute;
    left: -50%;
  }

  .card-focus::before {
    width: 35%;
  }

  .card-focus::after {
    width: 35%;
  }

  .box1,
  .box2 {
    width: 180px;
    height: 180px;
    font-size: 0.5rem;
    position: relative;
  }

  .mapIcon {
    display: none;
  }
}

@media screen and (min-width: 1366px) {
  .giftCoin {
    width: 100px;
    top: 38%;
    left: 92%;
  }
}

@media screen and (min-width: 1440px) {
  .giftCoin {
    width: 110px;
    top: 35%;
    left: 91%;
  }

  #address h1 {
    font-size: 2.2rem;
  }

  .mapIcon {
    display: block;
  }
}
